<div class="home-body">
  <section class="banner">
    <div class="banner--content-text">
      <h2>Um banco feito especialmente para você.</h2>
      <div class="banner--content-subtext d-flex bg-primary">
        <p class="w-50">lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet</p>
        <p class="w-50 mx-4">lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet</p>
      </div>

      <div class="banner--sponsor">
        <img src="" alt="visa logo">
        <img src="" alt="mastercard logo">
        <img src="" alt="bank logo">
        <img src="" alt="another logo">
      </div>
    </div>
    <div class="banner--content-image">
      <img src="https://via.placeholder.com/400x300" alt="banner image">
    </div>
  </section>
</div>





<a routerLink="/admin">dashboard</a>
<br>
<a routerLink="/index/login">login</a>
<br>
<a routerLink="/index/cadastrar">cadastrar</a>
