<div class="home-body">
  <button class="scroll-top-button" (click)="scroll(target)" *ngIf="showTopBtn"><i class="fas fa-arrow-circle-up fa-2x text-white"></i></button>
  <section class="banner" #target>
    <div class="banner--content-text">
      <h1 data-aos="fade-up">Um banco <span>feito</span> especialmente <span>para você</span>.</h1>
      <div class="banner--content-subtext d-flex">
        <p class="w-50" data-aos="fade-up" data-aos-delay="150">Feito para atender todas as suas necessidades com o mínimo esforço. Aproveite tudo isso junto com o Pix.</p>
        <p class="w-50 mx-4" data-aos="fade-up" data-aos-delay="300">Veja seu dinheiro rendendo de forma eficiente, além do nosso sistema de investimentos.</p>
      </div>

      <div class="banner--sponsor">
        <i data-aos="fade-up" data-aos-delay="50" class="fab fa-cc-visa fa-4x"></i>
        <i data-aos="fade-up" data-aos-delay="150" class="fab fa-cc-mastercard fa-4x"></i>
        <i data-aos="fade-up" data-aos-delay="250" class="fab fa-cc-amex fa-4x"></i>
        <i data-aos="fade-up" data-aos-delay="300" class="fab fa-cc-paypal fa-4x"></i>
      </div>
    </div>
    <div class="banner--content-image">
      <img class="pb-5" src="../../../../assets/img/bank.png" alt="banner image" data-aos="fade-up" data-aos-duration="">
    </div>
  </section>

  <section class="about pb-5">
    <h1 class="about--title" data-aos="fade-up">Moderno</h1>
    <div class="about--row neg-margin">
      <div class="row--text-wrapper">
        <h3 class="row--title" data-aos="fade-left">Seguro</h3>
        <p class="row--text" data-aos="fade-left" data-aos-delay="150">Nossos servidores são referência no quesito segurança. Possuímos uma
            equipe dedicada 24h nos sete dias da semana, para garantir que sua conta
            estará livre de qualquer acesso não permitido.</p>
      </div>
      <div class="row--image img-right" data-aos="fade-up" data-aos-delay="300">
        <img  src="../../../../assets/img/security.jpg" width="500" alt="imagem sobre segurança.">
      </div>
    </div>
    <div class="about--row index-up">
      <div class="row--image img-left" data-aos="fade-right">
        <img src="../../../../assets/img/home-office.png" width="500" alt="imagem sobre praticidade.">
      </div>
      <div class="row--text-wrapper">
        <h3 class="row--title" data-aos="fade-right" data-aos="fade-right" data-aos-delay="150">Prático</h3>
        <p class="row--text" data-aos="fade-right" data-aos-delay="300">Está em casa? Naquele dia que não existe motivo para sair? Não se preocupe,
            ainda assim nossos serviços estão na palma da sua mão disponíveis
            dia e noite em qualquer momento.</p>
      </div>
    </div>
  </section>

  <section class="commitment">
    <div class="commitment--text">
      <h1 class="text--title" data-aos="fade-up">Nosso Compromisso</h1>
      <p class="text--paragraph" data-aos="fade-up" data-aos-delay="150">Com a missão de cuidar bem do seu dinheiro, também estamos dispostos
            a inserir você ao que há de mais novo no mundo financeiro. Temos disponível
            a opção de criptomoedas, além de uma gama de serviços para fazer com que
            sua conta sempre opere no positivo e evolua à cada dia.
            Cadastre-se agora mesmo e já começe a ver seu dinheiro rendendo.</p>
    </div>
    <img src="../../../../assets/img/profit.png" width="600" alt="homem inflando moeda." data-aos="fade-left">
  </section>

  <section class="gallery container-fluid" id="services">
      <div class="gallery--box">
        <h1 class="gallery--box-title" data-aos="fade-up">Serviços</h1>
        <p class="gallery--box-text" data-aos="fade-up">
           Tudo que você precisa em um só lugar? Sim, aqui isso é possível.
        </p>
        <div class="gallery--services row mt-5">
          <div class="gallery--card col-md-3" data-aos="fade-up" data-aos-duration="1000">
            <div class="gallery--card-header">
              <i class="fas fa-dollar-sign fa-2x"></i>
              <h3 class="gallery--card-title">Transferências</h3>
            </div>
            <p class="gallery--card-text">TED, DOC e Pix.</p>
            <a class="gallery--card-button" routerLink="/login">
              <span>Acessar</span>
            </a>
          </div>
          <div class="gallery--card col-md-3" data-aos="fade-up" data-aos-duration="1000">
            <div class="gallery--card-header">
              <img src="../../../../assets/img/icons/atm.svg" alt="atm">
              <h3 class="gallery--card-title">Depósitos</h3>
            </div>
            <p class="gallery--card-text">Dia e Noite disponível para você.</p>
            <a class="gallery--card-button custom--btn" routerLink="/login">
              <span>Acessar</span>
            </a>
          </div>
          <div class="gallery--card col-md-3" data-aos="fade-up" data-aos-duration="1000">
            <div class="gallery--card-header">
              <img src="../../../../assets/img/icons/bill.svg">
              <h3 class="gallery--card-title">Pagamentos</h3>
            </div>
            <p class="gallery--card-text">Disponibilidade na palma da sua mão.</p>
            <a class="gallery--card-button" routerLink="/login">
              <span>Acessar</span>
            </a>
          </div>
          <div class="gallery--card col-md-3" data-aos="fade-up" data-aos-duration="1000">
            <div class="gallery--card-header">
              <img src="../../../../assets/img/icons/changes.svg">
              <h3 class="gallery--card-title">Recargas</h3>
            </div>
            <p class="gallery--card-text">Todas as operadoras sem custo adicional.</p>
            <a class="gallery--card-button" routerLink="/login">
              <span>Acessar</span>
            </a>
          </div>
          <div class="gallery--card col-md-3" data-aos="fade-up" data-aos-duration="1000">
            <div class="gallery--card-header">
              <img src="../../../../assets/img/icons/price_check.svg">
              <h3 class="gallery--card-title">Investimentos</h3>
            </div>
            <p class="gallery--card-text">Seu dinheiro rendendo mais que a poupança sem esforço.</p>
            <a class="gallery--card-button" routerLink="/login">
              <span>Acessar</span>
            </a>
          </div>
          <div class="gallery--card col-md-3" data-aos="fade-up" data-aos-duration="1000">
            <div class="gallery--card-header">
              <i class="fab fa-bitcoin fa-2x"></i>
              <h3 class="gallery--card-title">CriptoMoedas</h3>
            </div>
            <p class="gallery--card-text">O futuro do dinheiro junto com você.</p>
            <a class="gallery--card-button" routerLink="/login">
              <span>Acessar</span>
            </a>
          </div>
        </div>
      </div>
    </section>

</div>
