<div class=" content" data-aos="fade-right">

  <h1>Realize uma Transferência</h1>
  <div class="lancamento" [@openClose]="isOpen ? 'open' : 'closed'">

    <div class=" row mt-5">
    <div class=" col-md-8 mx-auto">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Transferir</h5></div>
        <div class=" card-body">
          <form [formGroup]="lancamentoForm" (ngSubmit)="sendLancamento()">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Nº da conta </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                    formControlName="numeroContaUsuario"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Valor (R$) </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                    formControlName="valor"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Tipo de transação </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                    formControlName="tipo"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Categoria </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                    formControlName="categoria"
                  />
                </div>
              </div>
              <div class=" col-md-9 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Descrição da transação </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="email"
                    formControlName="descricao"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Nº da conta destino </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                    formControlName="numeroContaDestino"
                  />
                </div>
              </div>
            </div>
          </form>

        </div>
        <div class=" card-footer">
          <button
          [ngClass]="{'disabled-btn': lancamentoForm.invalid}"
          class="nav--link"
          [disabled]="!lancamentoForm.valid"
          (click)="toggle()"
          type="submit"
          >
            Confirmar <i class="tim-icons icon-check-2 ml-1 text-success"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="success--message" [ngClass]="{'show-message': isOpen}">
    <h1>Transação realizada com sucesso!</h1>
    <div [ngClass]="{'expand-box': isOpen}">
      <h5>Dados da transferência: {{lancamentoForm.value.numeroContaUsuario}}</h5>
      <h5>Valor: {{lancamentoForm.value.valor}}</h5>
      <h5>Descrição: {{lancamentoForm.value.descricao}}</h5>
      <h5>Destino: {{lancamentoForm.value.numeroContaDestino}}</h5>
      <h5>Tipo: {{lancamentoForm.value.tipo}}</h5>

      <button class="repeat--payment" (click)="[toggle(), resetForm()]">
        Nova Transferência
        <i class="tim-icons icon-refresh-01 ml-1 text-success"></i>
      </button>
    </div>
  </div>

</div>

