<div class=" content" data-aos="fade-right">

  <h1>Realize uma Transferência</h1>
  <div class="lancamento" [@openClose]="isOpen ? 'open' : 'closed'">

    <div class=" row mt-5">
    <div class=" col-md-8 mx-auto">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Transferir</h5></div>
        <div class=" card-body">
          <form [formGroup]="lancamentoForm" (ngSubmit)="sendLancamento()">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Valor (R$) </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="number"
                    value=""
                    maxlength="7"
                    min=0
                    formControlName="valor"
                    [class.is-invalid]="exibeErro('valor')"
                  />
                  <div *ngIf="exibeErro('valor')" class="invalid-feedback">
                    Valor inválido.
                  </div>
                </div>
              </div>
              <div class=" col-md-7">
                <div class=" form-group">
                  <label> Tipo da conta </label>
                  <select class="form-control"
                    formControlName="idContaUsuario"
                    [class.is-invalid]="exibeErro('idContaUsuario')">
                    <option value="{{contaCorrente.id}}" selected>Conta Corrente</option>
                    <option value="{{contaCredito.id}}">Conta Crédito</option>
                  </select>
                  <div *ngIf="exibeErro('idContaUsuario')" class="invalid-feedback">
                    Tipo da conta inválida.
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">

              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Descrição da transação </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    formControlName="descricao"
                    [class.is-invalid]="exibeErro('descricao')"
                  />
                  <div *ngIf="exibeErro('descricao')" class="invalid-feedback">
                    Descrição inválida.
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label> Nº da conta destino </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                    formControlName="numeroContaDestino"
                    [class.is-invalid]="exibeErro('numeroContaDestino')"
                  />
                  <div *ngIf="exibeErro('numeroContaDestino')" class="invalid-feedback">
                    Nº da conta destino inválido.
                  </div>
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Tipo da conta destino </label>
                  <select class="form-control"
                    formControlName="tipoContaDestino"
                    [class.is-invalid]="exibeErro('tipoContaDestino')">
                    <option value="CORRENTE" selected>Conta Corrente</option>
                    <option value="CREDITO">Conta Crédito</option>
                  </select>
                  <div *ngIf="exibeErro('tipoContaDestino')" class="invalid-feedback">
                    Tipo da conta destino inválido.
                  </div>
                </div>
              </div>
            </div>
            <button
            [ngClass]="{'disabled-btn': lancamentoForm.invalid}"
            class="nav--link"
            [disabled]="lancamentoForm.invalid"
            type="submit"
            >
              Confirmar <i class="tim-icons icon-check-2 ml-1 text-success"></i>
            </button>
          </form>
        </div>
        <div class=" card-footer">
          <div *ngIf="erroLancamento" class="alert alert-warning" role="alert">
            Saldo insuficiente.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="success--message" [ngClass]="{'show-message': isOpen}">
    <h1>Transação realizada com sucesso!</h1>
    <div [ngClass]="{'expand-box': isOpen}">
      <h5>Dados da transferência: {{lancamentoForm.value.idContaUsuario}}</h5>
      <h5>Valor: {{lancamentoForm.value.valor | currency}}</h5>
      <h5>Descrição: {{lancamentoForm.value.descricao}}</h5>
      <h5>Destino: {{lancamentoForm.value.numeroContaDestino}}</h5>
      <h5>Tipo: {{lancamentoForm.value.tipo}}</h5>

      <button class="repeat--payment" (click)="[toggle(), resetForm()]">
        Nova Transferência
        <i class="tim-icons icon-refresh-01 ml-1 text-success"></i>
      </button>
    </div>
  </div>

</div>

