a, button {
  cursor: pointer;
}

.header-container {
  background: #1e1e2f;
  position: relative;
  top: 0;
  left: 0;
  min-width: 50%;
  z-index: 1000;
}

.header--navbar {
  display: flex;

  .nav--link {
    font-weight: 400;
    font-size: 15px;
    position: relative;
    text-decoration: none;
  }

  .nav--link:after {
    display:block;
    content: '';
    border-radius: 8px;
    border-bottom: solid 3px #46e2b3;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
    transform-origin:100% 50%
  }

  .nav--link:active:after,
  .nav--link:focus:after,
  .nav--link:hover:after {
    transform: scaleX(1);
    transform-origin:0 50%;
  }
}


.header--logo {
  font-family: 'Spartan', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.header--logo span {
  color: #712AA9;
  text-shadow: 0 0 4px #712AA9;

}

.white-logo {
  color: #fff;
}

.dark-logo {
  color: #000;
}

.nav--link {
  color: #fff !important;
}

.navbar--register {
  background: linear-gradient(to left, #1a795c, #46e2b3);
  color: #1e1e2f;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  box-shadow: 0 0 5px 1px #46e2b3;
  transition: 0.2s ease-in-out;
  // border: 8px solid;
  // border-image-slice: 1;
  // border-width: 3px;
  // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

  &:hover {
    box-shadow: 0 0 15px 1px #743ad5;
  }
}

@media screen and (max-width: 800px) {

  .header--navbar,
  .navbar--register {
    display: none;
  }
}

// HAMBURGER MENU
#menuToggle
{
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

/*
 * hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #46e2b3;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 *  hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  margin: -90px -40px 0 0;
  padding: 50px;
  padding-top: 125px;
  background: linear-gradient(90deg, rgba(11,0,36,1) 0%, rgba(69,9,121,1) 0%, rgba(133,36,224,1) 100%);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(0, -100%);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

@media screen and (min-width: 800px) {
  #menuToggle {
    display: none;
  }
}
