<div class=" content" data-aos="fade-right">

  <h1>Realize um Depósito</h1>
  <div class="lancamento" [@openClose]="isOpen ? 'open' : 'closed'">

    <div class=" row mt-5">
    <div class=" col-md-8 mx-auto">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Depositar</h5></div>
        <div class=" card-body">
          <form [formGroup]="lancamentoForm" (ngSubmit)="fazerDeposito()">
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Nº da conta </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="number"
                    value=""
                    formControlName="idContaUsuario"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Valor (R$) </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="number"
                    value=""
                    formControlName="valor"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Tipo de transação </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    value=""
                    formControlName="tipo"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <!-- <div class=" col-md-3 pr-md-1">
                <div class=" form-group">
                  <label> Categoria </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="number"
                    value=""
                    formControlName="categoria"
                  />
                </div>
              </div> -->
              <div class=" col-md-9 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Descrição da transação </label>
                  <input
                    class=" form-control"
                    placeholder=""
                    type="text"
                    formControlName="descricao"
                  />
                </div>
              </div>
            </div>
            <button
            [ngClass]="{'disabled-btn': lancamentoForm.invalid}"
            class="nav--link"
            [disabled]="!lancamentoForm.valid"
            type="submit"
            >
              Confirmar <i class="tim-icons icon-check-2 ml-1 text-success"></i>
          </button>
          </form>

        </div>
        <div class=" card-footer">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="success--message" [ngClass]="{'show-message': isOpen}">
    <h1>Transação realizada com sucesso!</h1>
    <div [ngClass]="{'expand-box': isOpen}">
      <h5><span>Valor</span>: {{lancamentoForm.value.valor | currency}}</h5>
      <h5><span>Descrição</span>: {{lancamentoForm.value.descricao}}</h5>
      <h5><span>Tipo</span>: {{lancamentoForm.value.tipo}}</h5>
      <h5><span>Categoria</span>: {{lancamentoForm.value.categoria}}</h5>

      <button class="repeat--payment" (click)="[toggle(), resetForm()]">
        Novo Depósito
        <i class="tim-icons icon-refresh-01 ml-1 text-success"></i>
      </button>
    </div>
  </div>

</div>

