<div class="about container">

  <div class="about--text col-md-6 mx-auto">
    <h1>Sobre a Account</h1>
    <p class="">
      Account Bank nasceu pela ideia de Lucas Villarim e Danilo Elias durante
      a Academia Accenture em parceria com a Gama Academy. Com o intuito de fazer um projeto de bankline para
      apresentação, desenvolvemos uma aplicação web utilizando as tecnologias Angular
      no Frontend e Java no Backend com o objetivo de simular um ambiente bancário
      online que agrade o usuário fazendo uso de técnicas de UX/UI além das funcionalidades
      proporcionadas pela API de banco. Todas as imagens e marcas referenciadas em
      tela estão sendo usadas apenas para fins ilustrativos.
    </p>
  </div>
</div>
