<div class="home-body">
  <section class="banner">
    <div class="banner--content-text">
      <h2>Um banco feito especialmente para você.</h2>
      <div class="banner--content-subtext d-flex bg-primary">
        <p class="w-25">lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet</p>
        <p class="w-25">lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectet</p>
      </div>
    </div>
    <div class="banner--content-image">
      <img>
    </div>
  </section>
</div>
